<div>
  <!-- nav footer -->
  <div class="nav-footer">
    <a href="/">1</a> |
    <a href="/mainpage2">2</a> |
    <a href="/mainpage3">3</a> |
    <a href="/mainpage4">4</a>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <p>
      <span class="copyright">&copy; Copyright 2024, ALL RIGHT RESERVED. Game Haven Store</span>
    </p>
  </footer>
</div>
