<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Heaven</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/LogInPage.css">
</head>
<style>
  #alert-message {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: red;
            font-size: 30px;
        }
</style>
<body>

<!-- nav bar -->
<%- include('partials/WelcomeNav') %>

<!-- main part -->
<form action="/signin" class="login_form" method="post">
  <h2>Welcome to Game Heaven</h2>
  <p id="p1">sign in to your account</p>
  <input type="email" name="email" placeholder="Email" required="">
  <input type="password" name="pswd" placeholder="Password" required="">
  <button id= "signin_btn"class="signin_btn btn btn-primary btn-block">SIGN IN</button>
  <div class="separator-container">
    <div style="font-weight: bolder; font-size: 30px;">OR</div>
</div>
<div id="sing-in-navigate">
  <a href="/signup">
      <button type="button" class="createaccount_btn btn btn-primary btn-block">CREATE ACCOUNT</button>
  </a>
</div>
</form>

<!-- footer -->
<footer id="footer">
  <p>
    <span class="copyright">&copy; Copyright 2024, ALL RIGHT RESERVED. Game Haven Store</span>
  </p>
</footer>


<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


